In [70]:
## Importing Basic Liabraries
import pandas as pd
import numpy as np

In [71]:
df = pd.read_csv('glassdoor_jobs.csv',index_col=0)
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 956 entries, 0 to 955
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          956 non-null    object
 1   Salary Estimate    956 non-null    object
 2   Job Description    956 non-null    object
 3   Rating             956 non-null    float64
 4   Company Name       956 non-null    object
 5   Location           956 non-null    object
 6   Headquarters       956 non-null    object
 7   Size               956 non-null    object
 8   Founded            956 non-null    int64
 9   Type of ownership  956 non-null    object
 10  Industry           956 non-null    object
 11  Sector             956 non-null    object
 12  Revenue            956 non-null    object
 13  Competitors        956 non-null    object
dtypes: float64(1), int64(1), object(12)
memory usage: 112.0+ KB

In [73]:
df.describe()

           Rating      Founded
count  956.000000   956.000000
mean     3.601255  1774.605649
std      1.067619   598.942517
min     -1.000000    -1.000000
25%      3.300000  1937.000000
50%      3.800000  1992.000000
75%      4.200000  2008.000000
max      5.000000  2019.000000

In [74]:
df.isnull().sum()

Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

In [75]:
df['Salary Estimate'].value_counts()

-1                                  214
$86K-$143K (Glassdoor est.)           6
$54K-$115K (Glassdoor est.)           6
$49K-$113K (Glassdoor est.)           6
$21-$34 Per Hour(Glassdoor est.)      6
                                   ...
$74K-$119K (Glassdoor est.)           1
$55K-$97K (Glassdoor est.)            1
$15K-$16K(Employer est.)              1
$61K-$106K (Glassdoor est.)           1
$62K-$113K (Glassdoor est.)           1
Name: Salary Estimate, Length: 417, dtype: int64

In [76]:
# Let's drop the salary values with -1
df = df[df['Salary Estimate']!='-1']

In [77]:
df['Salary Estimate'].value_counts()

$49K-$113K (Glassdoor est.)         6
$86K-$143K (Glassdoor est.)         6
$54K-$115K (Glassdoor est.)         6
$21-$34 Per Hour(Glassdoor est.)    6
$74K-$124K (Glassdoor est.)         5
                                   ..
$74K-$119K (Glassdoor est.)         1
$55K-$97K (Glassdoor est.)          1
$15K-$16K(Employer est.)            1
$61K-$106K (Glassdoor est.)         1
$62K-$113K (Glassdoor est.)         1
Name: Salary Estimate, Length: 416, dtype: int64

In [78]:
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0].strip())
salary

0       $53K-$91K
1      $63K-$112K
2       $80K-$90K
3       $56K-$97K
4      $86K-$143K
          ...
950    $58K-$111K
951    $72K-$133K
952     $56K-$91K
953    $95K-$160K
955    $61K-$126K
Name: Salary Estimate, Length: 742, dtype: object

In [79]:
remove_salary_k = salary.apply(lambda x: x.replace('K','').replace('$',''))
remove_salary_k

0       53-91
1      63-112
2       80-90
3       56-97
4      86-143
        ...
950    58-111
951    72-133
952     56-91
953    95-160
955    61-126
Name: Salary Estimate, Length: 742, dtype: object

In [80]:
remove_salary_k.unique()

array(['53-91', '63-112', '80-90', '56-97', '86-143', '71-119', '54-93',
       '86-142', '38-84', '120-160', '126-201', '64-106', '106-172',
       '46-85', '83-144', '102-190', '67-137', '118-189', '110-175',
       '64-111', '81-130', '73-119', '86-139', '63-105', '109-177',
       '63-110', '75-124', '34-61', '72-120', '93-149', '85-140',
       '77-135', '82-132', '83-137', '115-180', '74-138', '64-112',
       '68-129', '52-113', '110-150', 'Employer Provided Salary:150-160',
       '158-211', '20-39', '56-117', '63-99', '68-114', '41-95', '86-144',
       '80-139', '56-95', '120-189', '111-176', '84-146', '107-172',
       '49-85', '61-109', '88-148', '60-99', '41-72', '96-161', '65-130',
       '52-81', '139-220', '50-102', '85-139', '74-122', '99-157',
       '79-222', '57-118', '86-141', '94-154', '37-76', '100-160',
       '55-100', '60-114', '39-68', '64-107', '31-65', '34-62', '117-231',
       '79-134', '52-93', '55-116', '72-123', '74-124', '40-73',
       '102-164', '89-153', '61-110', '65-110', '200-275', '68-123',
       '80-129', '39-71', '38-85', '121-193', '54-102', '102-163',
       '76-140', '60-101', '82-133', '65-125', '91-148', '95-173',
       '77-124', '80-135', '85-159', '80-105', '43-81', '29-50', '26-55',
       '61-118', '60-102', '112-182', '51-112', '113-223', '72-129',
       '71-123', 'Employer Provided Salary:120-145', '80-120', '80-130',
       '59-115', '71-136', '81-167', '71-204', '75-125', '77-136',
       '74-123', '44-78', '65-148', '59-110', '85-134', '124-204',
       '131-207', '110-174', '52-101', '81-133', '132-211', '74-140',
       '100-190', '43-80', '17-24 Per Hour', '91-149', '42-82', '116-185',
       '59-116', '48-95', '31-72', '105-198', '98-182', '73-124',
       'Employer Provided Salary:200-250', '21-34 Per Hour', '117-206',
       '111-183', '81-159', '83-166', '114-182', '42-76', '114-179',
       '60-123', '100-166', '108-173', '48-93', '54-115', '60-127',
       '90-179', '138-224', '190-220', '35-62', '18-25 Per Hour', '39-66',
       '42-86', '69-127', '40-68', '49-113', '75-140', '66-112', '76-125',
       '44-86', '15-25 Per Hour', '53-92', '65-120', '60-103', '53-105',
       '33-62', '48-90', '34-64', '66-111', '91-138', '62-114', '71-129',
       '74-119', '55-97', '15-16', '61-106', '127-199', '74-126', '33-72',
       '37-63', '67-119', '72-117', '78-126', '116-194', '83-133',
       '45-82', '83-135', '70-122', '70-132', '54-101', '68-112', '42-74',
       '95-161', '76-126', '108-176', '130-208', '37-68', '52-99',
       '105-173', '71-134', '39-82', '88-162', '55-99', '67-117',
       '92-150', '116-209', '38-82', 'Employer Provided Salary:85-90',
       '62-119', '84-136', '52-89', '65-119', '63-101', '127-202',
       '31-57', '75-143', '105-194', '45-86', '95-154', '80-148', '36-62',
       '50-92', '67-135', '42-80', '68-139', '34-92', '54-71', '65-124',
       '109-200', '61-113', '43-86', '74-149', '113-196', '97-160',
       '24-39 Per Hour', '102-172', '108-171', '76-142', '202-306',
       '49-97', '65-134', '32-59', '87-158', '107-173', '56-99',
       'Employer Provided Salary:25-28 Per Hour', '80-155', '43-98',
       '45-78', '44-96', '50-110', '61-119',
       'Employer Provided Salary:100-140', '56-91', '101-158', '125-210',
       '43-77', '139-221', '78-147', '37-66', '38-64', '43-82', '90-110',
       '93-151', '40-101', '97-180', '81-134', '84-157', '121-203',
       '52-85', '81-140', '83-148', '31-55', '102-178',
       'Employer Provided Salary:110-130', '48-85', '66-123', '92-146',
       '21-29 Per Hour', '10-17 Per Hour', '150-239', '52-91', '82-129',
       '47-101', '49-76', '43-88', '124-199', '97-181', '100-173',
       '53-96', '65-96', '75-127', '94-139', '176-289', '92-149',
       '118-188', '108-146', '65-106', '55-98', '94-162', '63-120',
       '126-228', '80-134', '85-142', '87-140', '76-127', '54-92',
       '61-100', '112-179', '63-111', '75-126', '110-184', '76-145',
       '70-118', '94-153', '150-180', '42-77', '47-85', '62-112',
       '64-108', '89-144', '55-105', '135-211', '57-80', '129-215',
       '63-127', '50-89', '71-124', '69-121', '150-238', '77-132',
       '59-112', '35-65', '79-147', '119-187', '90-157', '32-62',
       '116-208', '102-165', '91-159', '80-133', '39-69', '27-48',
       '36-71', '130-206', '99-178', '86-137', '37-100', '58-111',
       '72-133', '61-126', '95-160', '33-61', '69-119', '67-127',
       '66-117', '50-98', '90-153', 'Employer Provided Salary:100-135',
       '42-79', '84-153', '44-73', '40-87', '72-142', '74-137', '57-109',
       '136-208', '171-272', '65-126', '118-228', '113-182', '58-104',
       '58-108', '81-161', '115-220', '71-144', '32-57', '79-136',
       '48-113', '27-47 Per Hour', '68-125', '39-67', '71-135', '61-123',
       '87-141', '71-121', '72-121', '51-88', '101-141', '79-127',
       '81-132', 'Employer Provided Salary:120-140', '65-113', '59-125',
       '80-142', '62-113'], dtype=object)

We can see there are some per hourly salary values too as well as Employer Provided Salary.<br>
Let's create a hourly column with 1 if salary estimate have per hour in it else 0.

In [81]:
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",0
951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",0
952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1,0
953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,0
955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1,0

In [82]:
df[df['hourly']==1]

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly
197,Medical Lab Scientist,$17-$24 Per Hour(Glassdoor est.),Overview\n\nAbout\n\n\nTower Health is a stron...,3.6,Tower Health\n3.6,"West Reading, PA","Reading, PA",5001 to 10000 employees,2017,Nonprofit Organization,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable,-1,1
209,MED TECH/LAB SCIENTIST - LABORATORY,$21-$34 Per Hour(Glassdoor est.),Evening: 3P-1130P or Night Shift 11P-730A\n\nI...,3.6,Beebe Healthcare\n3.6,"Lewes, DE","Lewes, DE",1001 to 5000 employees,1935,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1,1
240,Medical Laboratory Scientist,$18-$25 Per Hour(Glassdoor est.),Description\nMedical Laboratory Scientist - Te...,4.0,Texas Health Huguley Hospital\n4.0,"Burleson, TX","Arlington, TX",1001 to 5000 employees,1977,Hospital,Health Care Services & Hospitals,Health Care,$50 to $100 million (USD),-1,1
247,MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB,$21-$34 Per Hour(Glassdoor est.),Day Shift: 7A-330P. Holidays and every other w...,3.6,Beebe Healthcare\n3.6,"Millville, DE","Lewes, DE",1001 to 5000 employees,1935,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1,1
257,Medical Technologist / Clinical Laboratory Sci...,$15-$25 Per Hour(Glassdoor est.),The incumbent performs a broad range of labora...,3.4,"Veterans Affairs, Veterans Health Administrati...","New Orleans, LA","Washington, DC",10000+ employees,1930,Government,Federal Agencies,Government,Unknown / Non-Applicable,-1,1
307,Medical Lab Scientist,$17-$24 Per Hour(Glassdoor est.),Overview\n\nAbout\n\n\nTower Health is a stron...,3.6,Tower Health\n3.6,"West Reading, PA","Reading, PA",5001 to 10000 employees,2017,Nonprofit Organization,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable,-1,1
337,MED TECH/LAB SCIENTIST - LABORATORY,$21-$34 Per Hour(Glassdoor est.),Evening: 3P-1130P or Night Shift 11P-730A\n\nI...,3.6,Beebe Healthcare\n3.6,"Lewes, DE","Lewes, DE",1001 to 5000 employees,1935,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1,1
427,Medical Laboratory Scientist,$18-$25 Per Hour(Glassdoor est.),Description\nMedical Laboratory Scientist - Te...,4.0,Texas Health Huguley Hospital\n4.0,"Burleson, TX","Arlington, TX",1001 to 5000 employees,1977,Hospital,Health Care Services & Hospitals,Health Care,$50 to $100 million (USD),-1,1
437,Clinical Laboratory Scientist,$24-$39 Per Hour(Glassdoor est.),POSITION PURPOSE:\nPerforms CLIA moderate and ...,3.7,Vail Health\n3.7,"Vail, CO","Vail, CO",501 to 1000 employees,1966,Hospital,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1,1
456,MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB,$21-$34 Per Hour(Glassdoor est.),Day Shift: 7A-330P. Holidays and every other w...,3.6,Beebe Healthcare\n3.6,"Millville, DE","Lewes, DE",1001 to 5000 employees,1935,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1,1
464,ENVIRONMENTAL ENGINEER/SCIENTIST,Employer Provided Salary:$25-$28 Per Hour,"McPhail Associates, LLC is a geotechnical and ...",3.3,Mcphail Associates\n3.3,"Cambridge, MA","Cambridge, MA",1 to 50 employees,1976,Company - Private,Construction,"Construction, Repair & Maintenance",Unknown / Non-Applicable,-1,1
522,Medical Lab Scientist - MLT,$21-$29 Per Hour(Glassdoor est.),Position Type: Regular\nScheduled Hours per 2 ...,3.2,Catholic Health Initiatives\n3.2,"Omaha, NE","Englewood, CO",10000+ employees,1996,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$10+ billion (USD),"Dignity Health, Trinity Health",1
523,"Senior Operations Data Analyst, Call Center Op...",$10-$17 Per Hour(Glassdoor est.),Summary\n\n\nIndependent contributor role that...,2.7,FLEETCOR\n2.7,"Nashville, TN","Peachtree Corners, GA",5001 to 10000 employees,2000,Company - Public,Financial Transaction Processing,Finance,$2 to $5 billion (USD),-1,1
632,Medical Laboratory Scientist,$18-$25 Per Hour(Glassdoor est.),Description\nMedical Laboratory Scientist - Te...,4.0,Texas Health Huguley Hospital\n4.0,"Burleson, TX","Arlington, TX",1001 to 5000 employees,1977,Hospital,Health Care Services & Hospitals,Health Care,$50 to $100 million (USD),-1,1
652,Clinical Laboratory Scientist,$24-$39 Per Hour(Glassdoor est.),POSITION PURPOSE:\nPerforms CLIA moderate and ...,3.7,Vail Health\n3.7,"Vail, CO","Vail, CO",501 to 1000 employees,1966,Hospital,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1,1
682,MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB,$21-$34 Per Hour(Glassdoor est.),Day Shift: 7A-330P. Holidays and every other w...,3.6,Beebe Healthcare\n3.6,"Millville, DE","Lewes, DE",1001 to 5000 employees,1935,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1,1
694,ENVIRONMENTAL ENGINEER/SCIENTIST,Employer Provided Salary:$25-$28 Per Hour,"McPhail Associates, LLC is a geotechnical and ...",3.3,Mcphail Associates\n3.3,"Cambridge, MA","Cambridge, MA",1 to 50 employees,1976,Company - Private,Construction,"Construction, Repair & Maintenance",Unknown / Non-Applicable,-1,1
786,Medical Lab Scientist - MLT,$21-$29 Per Hour(Glassdoor est.),Position Type: Regular\nScheduled Hours per 2 ...,3.2,Catholic Health Initiatives\n3.2,"Omaha, NE","Englewood, CO",10000+ employees,1996,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$10+ billion (USD),"Dignity Health, Trinity Health",1
787,"Senior Operations Data Analyst, Call Center Op...",$10-$17 Per Hour(Glassdoor est.),Summary\n\n\nIndependent contributor role that...,2.7,FLEETCOR\n2.7,"Nashville, TN","Peachtree Corners, GA",5001 to 10000 employees,2000,Company - Public,Financial Transaction Processing,Finance,$2 to $5 billion (USD),-1,1
823,"Clinical Scientist, Clinical Development",$27-$47 Per Hour(Glassdoor est.),Job Summary:\n\nThis position reports to the D...,3.8,FORMA THERAPEUTICS\n3.8,"Watertown, MA","Watertown, MA",51 to 200 employees,2008,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10 to $25 million (USD),-1,1
854,Medical Laboratory Scientist,$18-$25 Per Hour(Glassdoor est.),Description\nMedical Laboratory Scientist - Te...,4.0,Texas Health Huguley Hospital\n4.0,"Burleson, TX","Arlington, TX",1001 to 5000 employees,1977,Hospital,Health Care Services & Hospitals,Health Care,$50 to $100 million (USD),-1,1
875,Clinical Laboratory Scientist,$24-$39 Per Hour(Glassdoor est.),POSITION PURPOSE:\nPerforms CLIA moderate and ...,3.7,Vail Health\n3.7,"Vail, CO","Vail, CO",501 to 1000 employees,1966,Hospital,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1,1
919,MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB,$21-$34 Per Hour(Glassdoor est.),Day Shift: 7A-330P. Holidays and every other w...,3.6,Beebe Healthcare\n3.6,"Millville, DE","Lewes, DE",1001 to 5000 employees,1935,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1,1
936,ENVIRONMENTAL ENGINEER/SCIENTIST,Employer Provided Salary:$25-$28 Per Hour,"McPhail Associates, LLC is a geotechnical and ...",3.3,Mcphail Associates\n3.3,"Cambridge, MA","Cambridge, MA",1 to 50 employees,1976,Company - Private,Construction,"Construction, Repair & Maintenance",Unknown / Non-Applicable,-1,1

Similary with Employer Provided Salary:

In [83]:
df['employer_provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",0,0
951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",0,0
952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1,0,0
953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,0,0
955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1,0,0

In [84]:
df[df['employer_provided']==1]

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided
48,Data Scientist,Employer Provided Salary:$150K-$160K,"BPA Services, LLC is seeking a Computer/Data S...",5.0,BPA Services\n5.0,"Washington, DC","Alexandria, VA",Unknown,-1,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,0,1
161,Data Engineer,Employer Provided Salary:$120K-$145K,"Location: Tampa, FL\nTitle: Data Engineer\nTS/...",5.0,Gridiron IT\n5.0,"Tampa, FL","Reston, VA",51 to 200 employees,2017,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,-1,0,1
208,Principal Data Scientist with over 10 years ex...,Employer Provided Salary:$200K-$250K,Position Title: Principal Data Scientist\nLoca...,-1.0,CA-One Tech Cloud,"San Francisco, CA","Fremont, CA",51 to 200 employees,2017,Company - Private,IT Services,Information Technology,$5 to $10 million (USD),-1,0,1
331,Principal Data Scientist with over 10 years ex...,Employer Provided Salary:$200K-$250K,Position Title: Principal Data Scientist\nLoca...,-1.0,CA-One Tech Cloud,"San Francisco, CA","Fremont, CA",51 to 200 employees,2017,Company - Private,IT Services,Information Technology,$5 to $10 million (USD),-1,0,1
377,Data Operations Lead,Employer Provided Salary:$85K-$90K,Data Operations Lead\nLocation: Flexible thoug...,-1.0,Muso,"San Francisco, CA","San Francisco, CA",201 to 500 employees,-1,Nonprofit Organization,-1,-1,Unknown / Non-Applicable,-1,0,1
464,ENVIRONMENTAL ENGINEER/SCIENTIST,Employer Provided Salary:$25-$28 Per Hour,"McPhail Associates, LLC is a geotechnical and ...",3.3,Mcphail Associates\n3.3,"Cambridge, MA","Cambridge, MA",1 to 50 employees,1976,Company - Private,Construction,"Construction, Repair & Maintenance",Unknown / Non-Applicable,-1,1,1
472,"Research Scientist, Immunology - Cancer Biology",Employer Provided Salary:$100K-$140K,"Research Scientist, Immunology - Cancer Biolog...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,0,1
477,Data Scientist,Employer Provided Salary:$150K-$160K,"BPA Services, LLC is seeking a Computer/Data S...",5.0,BPA Services\n5.0,"Washington, DC","Alexandria, VA",Unknown,-1,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,0,1
518,"Senior Scientist, Cell Pharmacology/Assay Deve...",Employer Provided Salary:$110K-$130K,"Senior Scientist, Cell Pharmacology/Assay Deve...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,0,1
694,ENVIRONMENTAL ENGINEER/SCIENTIST,Employer Provided Salary:$25-$28 Per Hour,"McPhail Associates, LLC is a geotechnical and ...",3.3,Mcphail Associates\n3.3,"Cambridge, MA","Cambridge, MA",1 to 50 employees,1976,Company - Private,Construction,"Construction, Repair & Maintenance",Unknown / Non-Applicable,-1,1,1
703,"Research Scientist, Immunology - Cancer Biology",Employer Provided Salary:$100K-$140K,"Research Scientist, Immunology - Cancer Biolog...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,0,1
741,"Scientist – Cancer Discovery, Molecular Assay",Employer Provided Salary:$100K-$135K,"Scientist – Cancer Discovery, Molecular Assay\...",-1.0,Monte Rosa Therapeutics,"Cambridge, MA",-1,-1,-1,-1,-1,-1,-1,-1,0,1
778,"Senior Scientist, Cell Pharmacology/Assay Deve...",Employer Provided Salary:$110K-$130K,"Senior Scientist, Cell Pharmacology/Assay Deve...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,0,1
819,"Principal Research Scientist/Team Lead, Medici...",Employer Provided Salary:$120K-$145K,"Principal Research Scientist/Team Lead, Medici...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,0,1
893,Senior Data Scientist,Employer Provided Salary:$120K-$140K,"SkySync is a dynamic, fast-paced, venture-back...",5.0,SkySync\n5.0,"Ann Arbor, MI","Ann Arbor, MI",51 to 200 employees,2011,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1,0,1
936,ENVIRONMENTAL ENGINEER/SCIENTIST,Employer Provided Salary:$25-$28 Per Hour,"McPhail Associates, LLC is a geotechnical and ...",3.3,Mcphail Associates\n3.3,"Cambridge, MA","Cambridge, MA",1 to 50 employees,1976,Company - Private,Construction,"Construction, Repair & Maintenance",Unknown / Non-Applicable,-1,1,1
943,"Research Scientist, Immunology - Cancer Biology",Employer Provided Salary:$100K-$140K,"Research Scientist, Immunology - Cancer Biolog...",-1.0,Kronos Bio,"Cambridge, MA","San Mateo, CA",Unknown,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,0,1

In [85]:
remove_salary_k.unique()

array(['53-91', '63-112', '80-90', '56-97', '86-143', '71-119', '54-93',
       '86-142', '38-84', '120-160', '126-201', '64-106', '106-172',
       '46-85', '83-144', '102-190', '67-137', '118-189', '110-175',
       '64-111', '81-130', '73-119', '86-139', '63-105', '109-177',
       '63-110', '75-124', '34-61', '72-120', '93-149', '85-140',
       '77-135', '82-132', '83-137', '115-180', '74-138', '64-112',
       '68-129', '52-113', '110-150', 'Employer Provided Salary:150-160',
       '158-211', '20-39', '56-117', '63-99', '68-114', '41-95', '86-144',
       '80-139', '56-95', '120-189', '111-176', '84-146', '107-172',
       '49-85', '61-109', '88-148', '60-99', '41-72', '96-161', '65-130',
       '52-81', '139-220', '50-102', '85-139', '74-122', '99-157',
       '79-222', '57-118', '86-141', '94-154', '37-76', '100-160',
       '55-100', '60-114', '39-68', '64-107', '31-65', '34-62', '117-231',
       '79-134', '52-93', '55-116', '72-123', '74-124', '40-73',
       '102-164', '89-153', '61-110', '65-110', '200-275', '68-123',
       '80-129', '39-71', '38-85', '121-193', '54-102', '102-163',
       '76-140', '60-101', '82-133', '65-125', '91-148', '95-173',
       '77-124', '80-135', '85-159', '80-105', '43-81', '29-50', '26-55',
       '61-118', '60-102', '112-182', '51-112', '113-223', '72-129',
       '71-123', 'Employer Provided Salary:120-145', '80-120', '80-130',
       '59-115', '71-136', '81-167', '71-204', '75-125', '77-136',
       '74-123', '44-78', '65-148', '59-110', '85-134', '124-204',
       '131-207', '110-174', '52-101', '81-133', '132-211', '74-140',
       '100-190', '43-80', '17-24 Per Hour', '91-149', '42-82', '116-185',
       '59-116', '48-95', '31-72', '105-198', '98-182', '73-124',
       'Employer Provided Salary:200-250', '21-34 Per Hour', '117-206',
       '111-183', '81-159', '83-166', '114-182', '42-76', '114-179',
       '60-123', '100-166', '108-173', '48-93', '54-115', '60-127',
       '90-179', '138-224', '190-220', '35-62', '18-25 Per Hour', '39-66',
       '42-86', '69-127', '40-68', '49-113', '75-140', '66-112', '76-125',
       '44-86', '15-25 Per Hour', '53-92', '65-120', '60-103', '53-105',
       '33-62', '48-90', '34-64', '66-111', '91-138', '62-114', '71-129',
       '74-119', '55-97', '15-16', '61-106', '127-199', '74-126', '33-72',
       '37-63', '67-119', '72-117', '78-126', '116-194', '83-133',
       '45-82', '83-135', '70-122', '70-132', '54-101', '68-112', '42-74',
       '95-161', '76-126', '108-176', '130-208', '37-68', '52-99',
       '105-173', '71-134', '39-82', '88-162', '55-99', '67-117',
       '92-150', '116-209', '38-82', 'Employer Provided Salary:85-90',
       '62-119', '84-136', '52-89', '65-119', '63-101', '127-202',
       '31-57', '75-143', '105-194', '45-86', '95-154', '80-148', '36-62',
       '50-92', '67-135', '42-80', '68-139', '34-92', '54-71', '65-124',
       '109-200', '61-113', '43-86', '74-149', '113-196', '97-160',
       '24-39 Per Hour', '102-172', '108-171', '76-142', '202-306',
       '49-97', '65-134', '32-59', '87-158', '107-173', '56-99',
       'Employer Provided Salary:25-28 Per Hour', '80-155', '43-98',
       '45-78', '44-96', '50-110', '61-119',
       'Employer Provided Salary:100-140', '56-91', '101-158', '125-210',
       '43-77', '139-221', '78-147', '37-66', '38-64', '43-82', '90-110',
       '93-151', '40-101', '97-180', '81-134', '84-157', '121-203',
       '52-85', '81-140', '83-148', '31-55', '102-178',
       'Employer Provided Salary:110-130', '48-85', '66-123', '92-146',
       '21-29 Per Hour', '10-17 Per Hour', '150-239', '52-91', '82-129',
       '47-101', '49-76', '43-88', '124-199', '97-181', '100-173',
       '53-96', '65-96', '75-127', '94-139', '176-289', '92-149',
       '118-188', '108-146', '65-106', '55-98', '94-162', '63-120',
       '126-228', '80-134', '85-142', '87-140', '76-127', '54-92',
       '61-100', '112-179', '63-111', '75-126', '110-184', '76-145',
       '70-118', '94-153', '150-180', '42-77', '47-85', '62-112',
       '64-108', '89-144', '55-105', '135-211', '57-80', '129-215',
       '63-127', '50-89', '71-124', '69-121', '150-238', '77-132',
       '59-112', '35-65', '79-147', '119-187', '90-157', '32-62',
       '116-208', '102-165', '91-159', '80-133', '39-69', '27-48',
       '36-71', '130-206', '99-178', '86-137', '37-100', '58-111',
       '72-133', '61-126', '95-160', '33-61', '69-119', '67-127',
       '66-117', '50-98', '90-153', 'Employer Provided Salary:100-135',
       '42-79', '84-153', '44-73', '40-87', '72-142', '74-137', '57-109',
       '136-208', '171-272', '65-126', '118-228', '113-182', '58-104',
       '58-108', '81-161', '115-220', '71-144', '32-57', '79-136',
       '48-113', '27-47 Per Hour', '68-125', '39-67', '71-135', '61-123',
       '87-141', '71-121', '72-121', '51-88', '101-141', '79-127',
       '81-132', 'Employer Provided Salary:120-140', '65-113', '59-125',
       '80-142', '62-113'], dtype=object)

In [86]:
## Replace from remove_salary_k too
remove_salary_k_hr = remove_salary_k.apply(lambda x: x.lower().replace('per hour','').replace('employer provided salary:',''))

In [87]:
remove_salary_k_hr.unique()

array(['53-91', '63-112', '80-90', '56-97', '86-143', '71-119', '54-93',
       '86-142', '38-84', '120-160', '126-201', '64-106', '106-172',
       '46-85', '83-144', '102-190', '67-137', '118-189', '110-175',
       '64-111', '81-130', '73-119', '86-139', '63-105', '109-177',
       '63-110', '75-124', '34-61', '72-120', '93-149', '85-140',
       '77-135', '82-132', '83-137', '115-180', '74-138', '64-112',
       '68-129', '52-113', '110-150', '150-160', '158-211', '20-39',
       '56-117', '63-99', '68-114', '41-95', '86-144', '80-139', '56-95',
       '120-189', '111-176', '84-146', '107-172', '49-85', '61-109',
       '88-148', '60-99', '41-72', '96-161', '65-130', '52-81', '139-220',
       '50-102', '85-139', '74-122', '99-157', '79-222', '57-118',
       '86-141', '94-154', '37-76', '100-160', '55-100', '60-114',
       '39-68', '64-107', '31-65', '34-62', '117-231', '79-134', '52-93',
       '55-116', '72-123', '74-124', '40-73', '102-164', '89-153',
       '61-110', '65-110', '200-275', '68-123', '80-129', '39-71',
       '38-85', '121-193', '54-102', '102-163', '76-140', '60-101',
       '82-133', '65-125', '91-148', '95-173', '77-124', '80-135',
       '85-159', '80-105', '43-81', '29-50', '26-55', '61-118', '60-102',
       '112-182', '51-112', '113-223', '72-129', '71-123', '120-145',
       '80-120', '80-130', '59-115', '71-136', '81-167', '71-204',
       '75-125', '77-136', '74-123', '44-78', '65-148', '59-110',
       '85-134', '124-204', '131-207', '110-174', '52-101', '81-133',
       '132-211', '74-140', '100-190', '43-80', '17-24 ', '91-149',
       '42-82', '116-185', '59-116', '48-95', '31-72', '105-198',
       '98-182', '73-124', '200-250', '21-34 ', '117-206', '111-183',
       '81-159', '83-166', '114-182', '42-76', '114-179', '60-123',
       '100-166', '108-173', '48-93', '54-115', '60-127', '90-179',
       '138-224', '190-220', '35-62', '18-25 ', '39-66', '42-86',
       '69-127', '40-68', '49-113', '75-140', '66-112', '76-125', '44-86',
       '15-25 ', '53-92', '65-120', '60-103', '53-105', '33-62', '48-90',
       '34-64', '66-111', '91-138', '62-114', '71-129', '74-119', '55-97',
       '15-16', '61-106', '127-199', '74-126', '33-72', '37-63', '67-119',
       '72-117', '78-126', '116-194', '83-133', '45-82', '83-135',
       '70-122', '70-132', '54-101', '68-112', '42-74', '95-161',
       '76-126', '108-176', '130-208', '37-68', '52-99', '105-173',
       '71-134', '39-82', '88-162', '55-99', '67-117', '92-150',
       '116-209', '38-82', '85-90', '62-119', '84-136', '52-89', '65-119',
       '63-101', '127-202', '31-57', '75-143', '105-194', '45-86',
       '95-154', '80-148', '36-62', '50-92', '67-135', '42-80', '68-139',
       '34-92', '54-71', '65-124', '109-200', '61-113', '43-86', '74-149',
       '113-196', '97-160', '24-39 ', '102-172', '108-171', '76-142',
       '202-306', '49-97', '65-134', '32-59', '87-158', '107-173',
       '56-99', '25-28 ', '80-155', '43-98', '45-78', '44-96', '50-110',
       '61-119', '100-140', '56-91', '101-158', '125-210', '43-77',
       '139-221', '78-147', '37-66', '38-64', '43-82', '90-110', '93-151',
       '40-101', '97-180', '81-134', '84-157', '121-203', '52-85',
       '81-140', '83-148', '31-55', '102-178', '110-130', '48-85',
       '66-123', '92-146', '21-29 ', '10-17 ', '150-239', '52-91',
       '82-129', '47-101', '49-76', '43-88', '124-199', '97-181',
       '100-173', '53-96', '65-96', '75-127', '94-139', '176-289',
       '92-149', '118-188', '108-146', '65-106', '55-98', '94-162',
       '63-120', '126-228', '80-134', '85-142', '87-140', '76-127',
       '54-92', '61-100', '112-179', '63-111', '75-126', '110-184',
       '76-145', '70-118', '94-153', '150-180', '42-77', '47-85',
       '62-112', '64-108', '89-144', '55-105', '135-211', '57-80',
       '129-215', '63-127', '50-89', '71-124', '69-121', '150-238',
       '77-132', '59-112', '35-65', '79-147', '119-187', '90-157',
       '32-62', '116-208', '102-165', '91-159', '80-133', '39-69',
       '27-48', '36-71', '130-206', '99-178', '86-137', '37-100',
       '58-111', '72-133', '61-126', '95-160', '33-61', '69-119',
       '67-127', '66-117', '50-98', '90-153', '100-135', '42-79',
       '84-153', '44-73', '40-87', '72-142', '74-137', '57-109',
       '136-208', '171-272', '65-126', '118-228', '113-182', '58-104',
       '58-108', '81-161', '115-220', '71-144', '32-57', '79-136',
       '48-113', '27-47 ', '68-125', '39-67', '71-135', '61-123',
       '87-141', '71-121', '72-121', '51-88', '101-141', '79-127',
       '81-132', '120-140', '65-113', '59-125', '80-142', '62-113'],
      dtype=object)

As these salaries are range estimate so let's create min and max salary column.

In [88]:
df['min_salary'] = remove_salary_k_hr.apply(lambda x: x.split('-')[0])

In [89]:
df['max_salary'] = remove_salary_k_hr.apply(lambda x: x.split('-')[1])

In [90]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,min_salary,max_salary
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",0,0,58,111
951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",0,0,72,133
952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1,0,0,56,91
953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,0,0,95,160
955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1,0,0,61,126

In [91]:
df['min_salary'] = df['min_salary'].astype(int)
df['max_salary'] = df['max_salary'].astype(int)

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 742 entries, 0 to 955
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          742 non-null    object
 1   Salary Estimate    742 non-null    object
 2   Job Description    742 non-null    object
 3   Rating             742 non-null    float64
 4   Company Name       742 non-null    object
 5   Location           742 non-null    object
 6   Headquarters       742 non-null    object
 7   Size               742 non-null    object
 8   Founded            742 non-null    int64
 9   Type of ownership  742 non-null    object
 10  Industry           742 non-null    object
 11  Sector             742 non-null    object
 12  Revenue            742 non-null    object
 13  Competitors        742 non-null    object
 14  hourly             742 non-null    int64
 15  employer_provided  742 non-null    int64
 16  min_salary         742 non-null    int64
 17  max_salary         742 non-null    int64
dtypes: float64(1), int64(5), object(12)
memory usage: 110.1+ KB

In [93]:
df['avg_salary'] = (df['min_salary']+df['max_salary'])/2
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,min_salary,max_salary,avg_salary
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,72.0
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,87.5
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90,85.0
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5

Average Salary will be our target/dependent feature.<br>
So now let's fix company name column

In [94]:
df['Company Name'] = df['Company Name'].apply(lambda x: x.split('\n')[0])

In [95]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,min_salary,max_salary,avg_salary
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,72.0
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,87.5
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90,85.0
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5

In [96]:
## From Location let's just get the State(Last two characters after ,)
df['job_state'] = df['Location'].apply(lambda x: x.split(',')[1].strip())

In [97]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,min_salary,max_salary,avg_salary,job_state
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,72.0,NM
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,87.5,MD
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90,85.0,FL
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5,WA
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5,NY

In [98]:
## Check if the company's Headquarters and job is in same place
df['same_state'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis=1)

In [99]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Sector,Revenue,Competitors,hourly,employer_provided,min_salary,max_salary,avg_salary,job_state,same_state
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,72.0,NM,0
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,87.5,MD,0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,Business Services,$100 to $500 million (USD),-1,0,0,80,90,85.0,FL,1
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5,WA,1
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5,NY,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,...,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",0,0,58,111,84.5,MA,0
951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,...,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",0,0,72,133,102.5,TN,0
952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,...,Education,Unknown / Non-Applicable,-1,0,0,56,91,73.5,PA,1
953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,...,Business Services,$5 to $10 million (USD),-1,0,0,95,160,127.5,PA,0
955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,...,Government,$50 to $100 million (USD),-1,0,0,61,126,93.5,OH,0

In [100]:
## Let's get the company age (how long since it's founded)
df['company_age'] = df['Founded'].apply(lambda x: x if x < 1 else 2022 - x)

In [101]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Revenue,Competitors,hourly,employer_provided,min_salary,max_salary,avg_salary,job_state,same_state,company_age
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,$50 to $100 million (USD),-1,0,0,53,91,72.0,NM,0,49
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,$2 to $5 billion (USD),-1,0,0,63,112,87.5,MD,0,38
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,$100 to $500 million (USD),-1,0,0,80,90,85.0,FL,1,12
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5,WA,1,57
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5,NY,1,24

Parsing Job Description column to get info about required skills(like python, rstudio, spark, aws,excel etc)

In [102]:
df['python_skill'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)

In [103]:
df['python_skill'].value_counts()

1    392
0    350
Name: python_skill, dtype: int64

In [104]:
df['spark_skill'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)

In [105]:
df['aws_skill'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)

In [106]:
df['excel_skill'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)

In [107]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,min_salary,max_salary,avg_salary,job_state,same_state,company_age,python_skill,spark_skill,aws_skill,excel_skill
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,53,91,72.0,NM,0,49,1,0,0,1
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,63,112,87.5,MD,0,38,1,0,0,0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,80,90,85.0,FL,1,12,1,1,0,1
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,56,97,76.5,WA,1,57,1,0,0,0
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,86,143,114.5,NY,1,24,1,0,0,1

In [108]:
clean_df = df.to_csv('cleaned_salary_data.csv',index=False)